In [1]:
# %conda install pandas -y

In [2]:
# %conda install prettytable

In [1]:
from prettytable import PrettyTable
import pandas as pd
import numpy as np

In [4]:
import pandas as pd
from prettytable import PrettyTable

def table(input_dataframe):
    """
    This function takes a Pandas DataFrame or Series and displays it as a PrettyTable.
    It also supports multi-index DataFrames and groupby operations with aggregated columns.
    """
    # make a deep copy 
    df_or_series = input_dataframe.copy()
    # Handle if input is a Pandas Series
    if isinstance(df_or_series, pd.Series):
        series_name = df_or_series.index.name
        df_or_series = df_or_series.to_frame().reset_index()
        # Use the Series name as the column name for the values column
        df_or_series.columns = [series_name, 'value']  # Dynamic column name

    # Handle multi-index DataFrame from groupby aggregation
    elif isinstance(df_or_series, pd.DataFrame):
        if isinstance(df_or_series.columns, pd.MultiIndex):
            # Flatten multi-level columns
            df_or_series.columns = ['_'.join(col) if isinstance(col, tuple) else col for col in df_or_series.columns]
            df_or_series.reset_index(inplace=True)

    # Create PrettyTable instance
    table = PrettyTable()

    # Set the column names (field names) to match the DataFrame columns
    table.field_names = df_or_series.columns.tolist()

    # Add rows from the DataFrame or Series to the PrettyTable
    for row in df_or_series.itertuples(index=False):
        table.add_row(row)

    # Print the table
    print(table)

In [5]:
df = pd.read_csv('sample_datasets/blackfriday.csv')

In [6]:
df.shape

(537577, 12)

In [7]:
print(df.columns)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [8]:
df.columns = [i.lower().replace(' ','_') for i in df.columns]
print(df.columns)

Index(['user_id', 'product_id', 'gender', 'age', 'occupation', 'city_category',
       'stay_in_current_city_years', 'marital_status', 'product_category_1',
       'product_category_2', 'product_category_3', 'purchase'],
      dtype='object')

In [26]:
table(df[['user_id','product_id','purchase','occupation','product_category_1','product_category_2','product_category_3']].head())

+---------+------------+----------+------------+--------------------+--------------------+--------------------+
| user_id | product_id | purchase | occupation | product_category_1 | product_category_2 | product_category_3 |
+---------+------------+----------+------------+--------------------+--------------------+--------------------+
| 1000001 | P00069042  |   8370   |     10     |         3          |        nan         |        nan         |
| 1000001 | P00248942  |  15200   |     10     |         1          |        6.0         |        14.0        |
| 1000001 | P00087842  |   1422   |     10     |         12         |        nan         |        nan         |
| 1000001 | P00085442  |   1057   |     10     |         12         |        14.0        |        nan         |
| 1000002 | P00285442  |   7969   |     16     |         8          |        nan         |        nan         |
+---------+------------+----------+------------+--------------------+--------------------+--------------------+

In [14]:
df.city_category.value_counts().index.name

'city_category'

In [25]:
table(df.city_category.value_counts())

+---------------+--------+
| city_category | value  |
+---------------+--------+
|       B       | 226493 |
|       C       | 166446 |
|       A       | 144638 |
+---------------+--------+

In [24]:
table(df.occupation.value_counts())

+------------+-------+
| occupation | value |
+------------+-------+
|     4      | 70862 |
|     0      | 68120 |
|     7      | 57806 |
|     1      | 45971 |
|     17     | 39090 |
|     20     | 32910 |
|     12     | 30423 |
|     14     | 26712 |
|     2      | 25845 |
|     16     | 24790 |
|     6      | 19822 |
|     3      | 17366 |
|     10     | 12623 |
|     5      | 11985 |
|     15     | 11812 |
|     11     | 11338 |
|     19     |  8352 |
|     13     |  7548 |
|     18     |  6525 |
|     9      |  6153 |
|     8      |  1524 |
+------------+-------+

In [23]:
group_df = df.groupby(['city_category','occupation']).agg({'purchase':['sum','mean','count']})
table(group_df)

+---------------+------------+--------------+--------------------+----------------+
| city_category | occupation | purchase_sum |   purchase_mean    | purchase_count |
+---------------+------------+--------------+--------------------+----------------+
|       A       |     0      |  164080740   |  8919.37051532942  |     18396      |
|       A       |     1      |  108803572   | 8778.021137555466  |     12395      |
|       A       |     2      |   76427056   |  8588.27463759973  |      8899      |
|       A       |     3      |   49011902   | 8821.436645068394  |      5556      |
|       A       |     4      |  214506091   | 8989.443089430893  |     23862      |
|       A       |     5      |   20966920   | 8937.306052855925  |      2346      |
|       A       |     6      |   34156542   | 9301.890522875818  |      3672      |
|       A       |     7      |  140383356   | 8883.897987596507  |     15802      |
|       A       |     8      |   1144331    |      11443.31      |      100       |
|       A       |     9      |   6298388    | 8984.861626248217  |      701       |
|       A       |     10     |   18943119   | 8661.691358024691  |      2187      |
|       A       |     11     |   22544322   | 9381.740324594257  |      2403      |
|       A       |     12     |   65733668   |  9496.34036405663  |      6922      |
|       A       |     13     |   3334734    |    8684.203125     |      384       |
|       A       |     14     |   72267923   | 9482.734942920877  |      7621      |
|       A       |     15     |   29421256   | 9807.085333333333  |      3000      |
|       A       |     16     |   55918396   | 9450.464086530337  |      5917      |
|       A       |     17     |   73597023   | 9140.216467958271  |      8052      |
|       A       |     18     |   14130776   | 8870.543628374136  |      1593      |
|       A       |     19     |   18497734   | 8362.447558770344  |      2212      |
|       A       |     20     |  105500948   | 8361.146615945474  |     12618      |
|       B       |     0      |  266483416   | 9077.647363401009  |     29356      |
|       B       |     1      |  169927659   | 8802.261538461538  |     19305      |
|       B       |     2      |   98171236   |  8846.64648103091  |     11097      |
|       B       |     3      |   63585551   | 9281.207269011824  |      6851      |
|       B       |     4      |  266850565   | 9107.216989181257  |     29301      |
|       B       |     5      |   59570514   | 9132.379886555265  |      6523      |
|       B       |     6      |   97749478   | 9151.715944199981  |     10681      |
|       B       |     7      |  213446917   | 9442.047111386357  |     22606      |
|       B       |     8      |   7840209    | 9480.301088270859  |      827       |
|       B       |     9      |   27278608   | 8580.877005347593  |      3179      |
|       B       |     10     |   36974362   | 8952.630024213075  |      4130      |
|       B       |     11     |   47757633   | 8703.778567523237  |      5487      |
|       B       |     12     |  126966316   | 9866.059212059989  |     12869      |
|       B       |     13     |   20625071   | 8844.370068610635  |      2332      |
|       B       |     14     |  102998380   | 9322.807748008689  |     11048      |
|       B       |     15     |   49666492   | 9788.429641308632  |      5074      |
|       B       |     16     |   98095511   | 9201.342369383736  |     10661      |
|       B       |     17     |  153965812   | 9814.240948495666  |     15688      |
|       B       |     18     |   18472111   |  8817.23675417661  |      2095      |
|       B       |     19     |   29965550   |  8899.77724977725  |      3367      |
|       B       |     20     |  127040221   | 9063.942708333334  |     14016      |
|       C       |     0      |  195250655   | 9586.147633542812  |     20368      |
|       C       |     1      |  135821598   | 9517.314694134959  |     14271      |
|       C       |     2      |   58677101   | 10031.988545050435 |      5849      |
|       C       |     3      |   47830997   | 9645.290784432345  |      4959      |
|       C       |     4      |  176173737   | 9953.880840725466  |     17699      |
|       C       |     5      |   31987921   | 10265.699935815148 |      3116      |
|       C       |     6      |   53159677   | 9720.182300237704  |      5469      |
|       C       |     7      |  195452471   | 10075.908392617795 |     19398      |
|       C       |     8      |   5610059    | 9397.083752093802  |      597       |
|       C       |     9      |   20042313   | 8817.559612846459  |      2273      |
|       C       |     10     |   58356473   |  9254.11877576911  |      6306      |
|       C       |     11     |   35135404   | 10190.082366589328 |      3448      |
|       C       |     12     |  107972121   | 10155.391365688487 |     10632      |
|       C       |     13     |   47175939   | 9763.232408940397  |      4832      |
|       C       |     14     |   80328442   |  9987.37311948278  |      8043      |
|       C       |     15     |   37452278   | 10019.336008560727 |      3738      |
|       C       |     16     |   80428423   | 9794.011568436434  |      8212      |
|       C       |     17     |  159677520   | 10402.444299674267 |     15350      |
|       C       |     18     |   27646819   | 9745.089531194924  |      2837      |
|       C       |     19     |   24652205   | 8890.084745762711  |      2773      |
|       C       |     20     |   59735816   | 9518.135117909496  |      6276      |
+---------------+------------+--------------+--------------------+----------------+

In [20]:
# for each city category : sort the purchase value in descending order 
sorted_grouped = group_df.sort_values(['city_category',('purchase','sum')], ascending=[True, False])
table(sorted_grouped)

+---------------+------------+--------------+--------------------+----------------+
| city_category | occupation | purchase_sum |   purchase_mean    | purchase_count |
+---------------+------------+--------------+--------------------+----------------+
|       A       |     4      |  214506091   | 8989.443089430893  |     23862      |
|       A       |     0      |  164080740   |  8919.37051532942  |     18396      |
|       A       |     7      |  140383356   | 8883.897987596507  |     15802      |
|       A       |     1      |  108803572   | 8778.021137555466  |     12395      |
|       A       |     20     |  105500948   | 8361.146615945474  |     12618      |
|       A       |     2      |   76427056   |  8588.27463759973  |      8899      |
|       A       |     17     |   73597023   | 9140.216467958271  |      8052      |
|       A       |     14     |   72267923   | 9482.734942920877  |      7621      |
|       A       |     12     |   65733668   |  9496.34036405663  |      6922      |
|       A       |     16     |   55918396   | 9450.464086530337  |      5917      |
|       A       |     3      |   49011902   | 8821.436645068394  |      5556      |
|       A       |     6      |   34156542   | 9301.890522875818  |      3672      |
|       A       |     15     |   29421256   | 9807.085333333333  |      3000      |
|       A       |     11     |   22544322   | 9381.740324594257  |      2403      |
|       A       |     5      |   20966920   | 8937.306052855925  |      2346      |
|       A       |     10     |   18943119   | 8661.691358024691  |      2187      |
|       A       |     19     |   18497734   | 8362.447558770344  |      2212      |
|       A       |     18     |   14130776   | 8870.543628374136  |      1593      |
|       A       |     9      |   6298388    | 8984.861626248217  |      701       |
|       A       |     13     |   3334734    |    8684.203125     |      384       |
|       A       |     8      |   1144331    |      11443.31      |      100       |
|       B       |     4      |  266850565   | 9107.216989181257  |     29301      |
|       B       |     0      |  266483416   | 9077.647363401009  |     29356      |
|       B       |     7      |  213446917   | 9442.047111386357  |     22606      |
|       B       |     1      |  169927659   | 8802.261538461538  |     19305      |
|       B       |     17     |  153965812   | 9814.240948495666  |     15688      |
|       B       |     20     |  127040221   | 9063.942708333334  |     14016      |
|       B       |     12     |  126966316   | 9866.059212059989  |     12869      |
|       B       |     14     |  102998380   | 9322.807748008689  |     11048      |
|       B       |     2      |   98171236   |  8846.64648103091  |     11097      |
|       B       |     16     |   98095511   | 9201.342369383736  |     10661      |
|       B       |     6      |   97749478   | 9151.715944199981  |     10681      |
|       B       |     3      |   63585551   | 9281.207269011824  |      6851      |
|       B       |     5      |   59570514   | 9132.379886555265  |      6523      |
|       B       |     15     |   49666492   | 9788.429641308632  |      5074      |
|       B       |     11     |   47757633   | 8703.778567523237  |      5487      |
|       B       |     10     |   36974362   | 8952.630024213075  |      4130      |
|       B       |     19     |   29965550   |  8899.77724977725  |      3367      |
|       B       |     9      |   27278608   | 8580.877005347593  |      3179      |
|       B       |     13     |   20625071   | 8844.370068610635  |      2332      |
|       B       |     18     |   18472111   |  8817.23675417661  |      2095      |
|       B       |     8      |   7840209    | 9480.301088270859  |      827       |
|       C       |     7      |  195452471   | 10075.908392617795 |     19398      |
|       C       |     0      |  195250655   | 9586.147633542812  |     20368      |
|       C       |     4      |  176173737   | 9953.880840725466  |     17699      |
|       C       |     17     |  159677520   | 10402.444299674267 |     15350      |
|       C       |     1      |  135821598   | 9517.314694134959  |     14271      |
|       C       |     12     |  107972121   | 10155.391365688487 |     10632      |
|       C       |     16     |   80428423   | 9794.011568436434  |      8212      |
|       C       |     14     |   80328442   |  9987.37311948278  |      8043      |
|       C       |     20     |   59735816   | 9518.135117909496  |      6276      |
|       C       |     2      |   58677101   | 10031.988545050435 |      5849      |
|       C       |     10     |   58356473   |  9254.11877576911  |      6306      |
|       C       |     6      |   53159677   | 9720.182300237704  |      5469      |
|       C       |     3      |   47830997   | 9645.290784432345  |      4959      |
|       C       |     13     |   47175939   | 9763.232408940397  |      4832      |
|       C       |     15     |   37452278   | 10019.336008560727 |      3738      |
|       C       |     11     |   35135404   | 10190.082366589328 |      3448      |
|       C       |     5      |   31987921   | 10265.699935815148 |      3116      |
|       C       |     18     |   27646819   | 9745.089531194924  |      2837      |
|       C       |     19     |   24652205   | 8890.084745762711  |      2773      |
|       C       |     9      |   20042313   | 8817.559612846459  |      2273      |
|       C       |     8      |   5610059    | 9397.083752093802  |      597       |
+---------------+------------+--------------+--------------------+----------------+

In [22]:
# Step 3: Extract the second largest purchase for each City_Category
result = (
    sorted_grouped.groupby('city_category')
    .nth(1)  # Get the second row (index 1) in each group
    .reset_index()
)
table(result)

+-------+----------------+-------------+--------------+-------------------+----------------+
| index | city_category_ | occupation_ | purchase_sum |   purchase_mean   | purchase_count |
+-------+----------------+-------------+--------------+-------------------+----------------+
|   0   |       A        |      0      |  164080740   |  8919.37051532942 |     18396      |
|   1   |       B        |      0      |  266483416   | 9077.647363401009 |     29356      |
|   2   |       C        |      0      |  195250655   | 9586.147633542812 |     20368      |
+-------+----------------+-------------+--------------+-------------------+----------------+

In [27]:
import pandas as pd

# Expanded Sample Dataset
data = {
    'City': [
        'California', 'California', 'California', 'California', 'New York', 'New York',
        'Texas', 'Texas', 'Texas', 'Texas', 'California', 'California', 'New York',
        'New York', 'Texas', 'Texas'
    ],
    'Employee': [
        'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 
        'E7', 'E8', 'E9', 'E10', 'E11', 'E12', 'E13',
        'E14', 'E15', 'E16'
    ],
    'Job_Title': [
        'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 
        'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 
        'Software Engineer', 'Software Engineer', 'Software Engineer', 
        'Software Engineer', 'Manager', 'Manager', 'Manager', 'Manager'
    ],
    'Salary': [
        120000, 120000, 110000, 100000, 130000, 125000, 
        115000, 115000, 140000, 135000, 150000, 145000, 160000, 155000, 90000, 85000
    ]
}

df = pd.DataFrame(data)

# Assign ranks within each City and Job_Title based on Salary in descending order
df['Rank'] = (
    df.groupby(['City', 'Job_Title'])['Salary']
    .rank(ascending=False, method='dense')  # Dense ranking: same salary gets same rank
)

table(df)

+------------+----------+-------------------+--------+------+
|    City    | Employee |     Job_Title     | Salary | Rank |
+------------+----------+-------------------+--------+------+
| California |    E1    |   Data Scientist  | 120000 | 1.0  |
| California |    E2    |   Data Scientist  | 120000 | 1.0  |
| California |    E3    |   Data Scientist  | 110000 | 2.0  |
| California |    E4    |   Data Scientist  | 100000 | 3.0  |
|  New York  |    E5    |   Data Scientist  | 130000 | 1.0  |
|  New York  |    E6    |   Data Scientist  | 125000 | 2.0  |
|   Texas    |    E7    |   Data Scientist  | 115000 | 1.0  |
|   Texas    |    E8    |   Data Scientist  | 115000 | 1.0  |
|   Texas    |    E9    | Software Engineer | 140000 | 1.0  |
|   Texas    |   E10    | Software Engineer | 135000 | 2.0  |
| California |   E11    | Software Engineer | 150000 | 1.0  |
| California |   E12    | Software Engineer | 145000 | 2.0  |
|  New York  |   E13    |      Manager      | 160000 | 1.0  |
|  New York  |   E14    |      Manager      | 155000 | 2.0  |
|   Texas    |   E15    |      Manager      | 90000  | 1.0  |
|   Texas    |   E16    |      Manager      | 85000  | 2.0  |
+------------+----------+-------------------+--------+------+